<template>
  <div class="container mx-auto text-center">
    <section>
      <div class="content-center">
        <div class="">
          <h1 class="leading-tight text-4xl md:text-5xl lg:text-6xl">
            Who is a cute?
          </h1>
          <img
            src="~assets/verified-cute.png"
            alt="Verified Cute"
            class="inline-block my-10"
            :title="`${who} is Verified Cute`"
            @click="toggleField"
          />
          <h2
            class="leading-tight text-4xl md:text-5xl lg:text-6xl mb-3 uppercase"
          >
            {{ who }}.
          </h2>
          <h2
            class="leading-tight text-2xl md:text-3xl lg:text-4xl mb-3 uppercase"
          >
            {{ who }} IS A CUTE.
          </h2>
        </div>
      </div>
    </section>
    <section
      v-if="fieldVisible"
      class="text-center mt-2 relative rounded-md shadow-sm bg-white bg-opacity-25 p-2"
    >
      <p>Yeah, you can send this to a person to tell them they're cute!</p>
      <p>
        <input
          v-model="who"
          class="text-center shadow-inner appearance-none border border-grey-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        />
      </p>
      <a :href="whoURL"
        ><code
          class="font-mono text-xs md:text-base bg-yellow-100 p-1 text-red-500 hover:underline focus:underline"
          >{{ whoURL }}</code
        ></a
      >
    </section>
    <footer class="footer mt-10">
      <div class="text-xs">
        <p>
          <a href="https://verifiedcute.com">Verified Cute</a> is by
          <a href="https://juniper.nz">Juniper Skunktaur</a>. The
          <a href="https://gitlab.com/juniperskunktaur/verifiedcute"
            >source code</a
          >
          is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
          <br />
          Feel free to take the icon and put it on your Slack or Discord server.
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  asyncData({ params }) {
    return {
      who: params.who ? decodeURIComponent(params.who) : 'YOU',
    };
  },
  data() {
    return {
      who: this.who || 'YOU',
      fieldVisible: false,
    };
  },
  computed: {
    whoURL() {
      return `https://verifiedcute.com/${this.who}`;
    },
  },
  methods: {
    toggleField() {
      this.fieldVisible = !this.fieldVisible;
    },
  },
  head: {
    bodyAttrs: {
      class: 'bg-lightpink p-10',
    },
  },
};
</script>

<style lang="postcss" scoped>
.footer {
  @apply opacity-25;

  &:focus,
  &:hover {
    @apply opacity-100;
  }
}
</style>
